
@{
    ViewBag.Title = "用户中心";
}




<ul>
    <li>@Html.ActionLink("创建用户-简单模型绑定", "Create简单模型绑定")</li>
    <li>@Html.ActionLink("创建用户-原始方法", "Create原始方法")</li>
    <li>@Html.ActionLink("创建用户-指定绑定字段", "Create指定绑定字段")</li>
    <li>@Html.ActionLink("创建用户-显示指定的名字", "Create显示指定的名字")</li>
    <li>@Html.ActionLink("创建用户-必填项及错误提示", "Create必填项及错误提示")</li>
    <li>@Html.ActionLink("创建用户-手动绑定模型", "Create手动绑定模型")</li>
    <li>@Html.ActionLink("创建用户-复杂模型绑定", "Create复杂模型绑定")</li>
    <li>@Html.ActionLink("查看所有用户", "Details查看所有用户")</li>
    <a href="&page=4">sadfasdf</a>
</ul>
